body{
    background-color:#0d1321;
    font-family:sans-serif;
    padding:0;
    margin:auto;
    width:80%;
    color:#f0ebd8;
}
.topnav ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:#95b3db;
    overflow:hidden;
}
.topnav li{
    float:left;
}
.topnav li a{
    display:block;
    background-color:#95b3db;
    color:#000000;
    padding:12px;
    text-decoration:none;
    text-align:center;
}
.topnav li a:hover{
    background-color:#2b4162;
    color:#ffffff;
}
.topnav .active{
    background-color:#56282d;
    color:#ffffff;
}
.breadcrumb{
    background-color:#0d1321;
    color:#f0ebd8;
}
h1{
    font-size:2.25em;
    text-align:center;
}
h2{
    text-align:center;
}
p{
    text-align:center;
    width:75%;
    margin:auto;
}
ol{
    display:block;
    width:65%;
    margin:auto;
}
ol li{
    padding:4px;
}
table,th,td{
    border:thin solid #f0ebd8;
    border-collapse:collapse;
    padding:12px;
}
table{
    width:75%;
    margin:auto;
    padding:12px;
}
a:link,a:visited{
    color:#f0ebd8;
}